<div class="card">
    <div class="card-body"
            #scrollMe
            style="overflow: scroll; height: 605px;"
            [scrollTop]="scrollMe.scrollHeight">
        <div *ngIf="(msgService.messageThread$ | async)?.length === 0">No messages yet... say hi by using the message box below</div>
        <ul *ngIf="(msgService.messageThread$ | async)?.length > 0" class="chat">
            <li *ngFor="let message of (msgService.messageThread$ | async)">
                <div>
                    <span class="chat-img float-end">
                        <img class="rounded-circle" src="{{message.senderPhotoUrl || './assets/user.png'}}"
                            alt="User image">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span>{{message.messageSent | timeago }}</span>
                                <span class="text-danger"
                                    *ngIf="!message.dateRead && message.senderUsername !== userName"> (unread)</span>
                                <span class="text-success"
                                    *ngIf="message.dateRead && message.senderUsername !== userName"> (read
                                    {{message.dateRead | timeago }})</span>
                            </small>
                        </div>
                        <p>{{message.content}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <form #msgForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="Send a private message"
                    required
                    name="messageContent" [(ngModel)]="messageContent">
                <div class="input-group-append">
                    <button [disabled]="!msgForm.valid || loading" class="btn btn-primary ms-3" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>