<div class="container mb-3 px-0" *ngIf="userParams">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class=" d-flex mx-2">
            <label class="col-form-label">Age from: </label>
            <input type="number" class="form-control ms-1" style="width: 70px;" name="minAge"
                [(ngModel)]="userParams.minAge">
        </div>
        <div class=" d-flex mx-2">
            <label class="col-form-label">Age to: </label>
            <input type="number" class="form-control ms-1" style="width: 70px;" name="maxAge"
                [(ngModel)]="userParams.maxAge">
        </div>
        <div class=" d-flex px-2">
            <label class="col-form-label me-2">Show: </label>
            <select name="gender" style="width: 150px;" class="form-select ms-1" [(ngModel)]="userParams.gender">
                <option *ngFor="let item of genderList" [value]="item.value">{{item.display}}</option>
            </select>
        </div>

        <button class="btn btn-warning ms-1" type="submit">Apply filters</button>
        <button (click)="resetFilters()" class="btn btn-dark ms-1" type="submit">Reset filters</button>


        <div class="col">
            <div class="btn-group float-end">
                <button class="btn btn-success me-2" name="orderBy" (click)="loadMembers()"
                type="button"
                [(ngModel)]="userParams.orderBy"
                btnRadio="lastActive">Last Active</button>
                <button class="btn btn-success" name="orderBy" (click)="loadMembers()"
                type="button"
                [(ngModel)]="userParams.orderBy"
                btnRadio="createdAt">Newest members</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-2" *ngFor="let item of members">
        <app-member-card [member]="item"></app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10" [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>